# Core browser automation
playwright==1.49.0

# For handling domain parsing (eTLD+1 extraction)
tldextract==5.1.2

# Data handling
pandas==2.2.3

pydantic==2.8.2

click==8.1.7
rich==13.9.2

matplotlib==3.10.6
seaborn==0.13.2
tld==0.13.1
dnspython==2.8.0